<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.alan.wrokflow.dao.mapper.FlowNodePermissionMapper">
  <resultMap id="BaseResultMap" type="org.apache.alan.wrokflow.dao.po.FlowNodePermission">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="definition_id" jdbcType="INTEGER" property="definitionId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `type`, target_id, definition_id, created_time, updated_time
  </sql>
</mapper>