<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.alan.wrokflow.dao.mapper.FlowNodeUserMapper">
  <resultMap id="BaseResultMap" type="org.apache.alan.wrokflow.dao.po.FlowNodeUser">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="node_id" jdbcType="INTEGER" property="nodeId" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, target_id, company_id, `name`, `type`, node_id, user_type, deleted
  </sql>
</mapper>